html {
    scroll-behavior: smooth;
}

.card{
    margin-left: auto;
    margin-right: auto;
  }  

  /* google translator */
.goog-te-banner-frame.skiptranslate {
    display: none !important;
    } 
body {
    top: 0px !important; 
    }

    .goog-logo-link {
      display:none !important;
  } 
      
  .goog-te-gadget{
      color: transparent !important;
  }